@font-face {
  font-family: 'Mantar';
  src: url("fonts/Mantar-Ultra.otf"); 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
	font-family: 'Mantar';
	font-size: 30px;
	--color: rgb(46 67 160);
}

section{
	min-height: 100vh;
}

#record{
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 80px solid var(--color);
	z-index: 100;
}

.label{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
}

img{
	width: 100%;
}
.feature-img{
	position: relative;
	background: url('IMG_0606.jpeg') fixed no-repeat;
	background-size: cover;
	height: 100vh;
}

.info{
	top: 1rem;
	left: 1rem;
	color: white;
	width: 33em;
}

h1,p{
	font-weight: normal;
	font-size: 40px;
}

.releases{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.image{
	height: 200px;
	background: var(--color);
}

.merchandise{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.buy-link{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}