{% paginate blog.articles by 5 %}

  <section class="title">
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} - {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}
  </section>

  {% comment %} featured news item {% endcomment %}
  {% for article in blog.articles %}
    {% if article.tags contains 'featured' %}
      <section class="featured">
        {% include 'article-news-item' %} 
      </section>
    {% endif %}
  {% endfor %}

   {% comment %} other news items {% endcomment %}
    <section class="blog-list">
      {% for article in blog.articles %}
        {% assign i = forloop.index0 %}

        {% unless article.tags contains 'featured' %}
          {% if article.content contains "https://"  %}  
              {% if article.content contains "href"  %}   
                {% include 'article-news-item' %} 
              {% else %}
                {% include 'article-press-item' %} 
              {% endif %}
            {% else %}
              {% include 'article-news-item' %} 
          {% endif %}
        {% endunless %}

      {% endfor %}
    </section>

  {% if paginate.pages > 1 %}
    <section class="pagination">
        {% comment %}
          When paginating blog articles, a previous article is actually a newer article, not an older one,
          because blog articles are shown and paginated in a reversed chronological order.
          The word 'previous' can be confusing, hence we'll change it.
        {% endcomment %}
        {{ paginate | default_pagination: next: 'Previous', previous: 'Next'}}
    </section>
  {% endif %}

  {% endpaginate %}

