<section class="title">
  <h1>{{ page.title }}</h1>
</section>
<section itemprop="description">
  <div>{{ page.content }}</div>
  <div class="profilepic"></div>
</section>

{% if page.metafields.custom_fields["image"] != blank %}
  <div class="custom-field custom-field__image custom-field__type--image">
    <h3 class="custom-field--title">Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: page.metafields.custom_fields["image"] %}
    </div>
  </div>
{% endif %}

<script>
  /*
  ----------------------------------------
  Image treatment
  ----------------------------------------
  */

  jQuery(function($) {
    //  Display image to the right column
    var image = $("section div:first-child img");
        image.hide();
        $("div.profilepic").append(image);
        $("div.profilepic img:first-child").css({'display':'block'});
    //display image caption from image.alt
    image.each(function(){
      var alt = jQuery(this).attr("alt");;
      $( "<caption>"+ alt +"</caption>" ).insertAfter(this);
    });
  });
</script>