/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Basic type
# Element Defaults
  ## Nav
  ## Structure
  ## Elements
# Page Agnostic Overrides
  ## Nav
  ## Structure
  ## Archive
  ## Article
  ## Elements
  ## Mailchimp
# Page Specific Overrides
  ## Nav
  ## Structure
  ## Pages 
  ## Posts
  ## Slider
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$vanilla: #FFEBC6;
$black: #200304;
$green: #2A3F3B;
$green-light: #6F7E7C;

$font-primary: 'Fraunces', serif;
$font-secondary: 'Arial', sans-serif;

$h1: 3.125rem; /* 50px */
$h2: 2.625rem; /* 42px */
$h3: 1.875rem; /* 30px */
$h4: 1.125rem; /* 18px */
$h5: 0.875rem; /* 14px */
$body: 1.625rem; /* 26px */
$xsmall: 0.75rem; /* 12px */
$xlarge: 4.5rem; /* 72px */

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$spacing_lg: 80px;
$spacing_md: $spacing_lg / 2;
$spacing_sm: $spacing_lg / 4;

$thumbnail: 132px; /* news thumbnail */
$thumbnail_tablet: $thumbnail * 0.6;
$thumbnail_mobile: $thumbnail * 0.8;

$space_heading: 158px;
$space_heading_sm: 114px;
$space_heading_xs: 44px;

$transition: 0.25s;

$mobile: "(max-width: 633px)";
$tablet: "(min-width: 640px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Basic Type
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-primary;
    color: $black;
    font-size: $body;
    font-weight: $regular;
    line-height: $body * 1.35;
    background-color: $vanilla;
    margin: 0;
    padding: 0;
    @media #{$tablet} {
        font-size: $h4;
        line-height: $h4 * 1.4;
    }
    @media #{$mobile} {
        font-size: $h4;
        line-height: $h4 * 1.4;
    }
}

a {
    color: $black;
    &:hover {
        text-decoration: none;
    }
}


h1 { /* default: page title */
    font-size: $h1;
    font-weight: $regular;
    font-style: italic;
    line-height: $h1 * 1.2;
    @media #{$tablet} {
        font-size: $h2;
        line-height: $h2 * 1.2;
    }
    @media #{$mobile} {
        font-size: $h2;
        line-height: $h2 * 1.2;
    }
}

h2 {
    font-size: $h2;
    font-weight: $regular;
    line-height: $h2 * 1.2;
    @media #{$tablet} {
        font-size: $body;
        line-height: $body * 1.35;
    }
    @media #{$mobile} {
        font-size: $body;
        line-height: $body * 1.35;
    }
}

h3 {
    font-size: $h3;
    font-weight: $regular;
    line-height: $h3 * 1.2;
    @media #{$tablet} {
        font-size: $body;
        line-height: $body * 1.35;
    }
    @media #{$mobile} {
        font-size: $body;
        line-height: $body * 1.35;
    }
}

h4 {
    font-size: $h4;
    font-weight: $regular;
    line-height: $h4 * 1.4;
    @media #{$tablet} {
        font-size: $h5;
        line-height: $h5 * 1.4;
    }
    @media #{$mobile} {
        font-size: $h5;
        line-height: $h5 * 1.4;
    }
}

h5 {
    font-size: $h5;
    font-weight: $regular;
    line-height: $h5 * 1.4;

}

.sans-serif {
    font-family: $font-secondary;
    font-size: $h5;
    line-height: $h5 * 1.4;
    @media #{$tablet} {
        font-size: $h5 * 0.8;
        line-height: $h5 * 1.4 * 0.8;
    }
    @media #{$mobile} {
        font-size: $h5 * 0.8;
        line-height: $h5 * 1.4 * 0.8;
    }
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Element Defaults
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
.visible {
    display: block;
}

header {
    nav {
        z-index: 100;
        position:fixed;
        display: inline-block;
        top: 30px;
        left: $spacing_md;
        z-index: 100;
        @media #{$tablet} {
            top: $spacing_sm;
            left:$spacing_sm;
        }
        @media #{$mobile} {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: -2.5px;
            @media #{$mobile} {
                position: fixed;
                top: 0;
                left: 0;
                padding: 20vh 0;
                width: 100%;
                height: 100%;
                display:block;
                margin: 0;
                background-color:$vanilla;
                z-index: -10;
                display: none;
            }
        }
        li { 
            @media #{$mobile} {
               height: 12vh;
            }
            a {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 65px;
                height: 65px;
                margin: 2.5px;
                font-size: 1rem;
                line-height: $h4*1.4;
                font-weight: $semibold;
                color: inherit;
                text-decoration: none;
                background-color: $vanilla;
                border-top: 3px solid white;
                border-left: 3px solid white;
                border-right: 3px solid $black;
                border-bottom: 3px solid $black;
                text-align: center;
                vertical-align: center;
                border-radius: 3px;
                transition: background-color $transition;
                @media #{$tablet} {
                    font-size: $h5;
                    line-height: $h5*1.4;
                    width: 58px;
                    height: 58px;
                    margin: 1.5px;
                    border-top: 2px solid white;
                    border-left: 2px solid white;
                    border-right: 2px solid $black;
                    border-bottom: 2px solid $black;
                }
                @media #{$mobile} {
                    width: 100%;
                    height: 100%;
                    font-size: $h3;
                    line-height: $h3*1.4;
                    border: none;
                    margin: 0;
                    border-radius: 0px;
                }
            }
            &.active a, a:hover {
                background-color: $black;
                color: $vanilla;
                @media #{$mobile} {
                    // color: $black;                    
                }
            }
            &:first-child { /*home button*/
                display: none;
                @media #{$mobile} {
                    display: block;
                }
            }

        }
        div { /*div: menu btn for mobile*/
            display: none; 
            position: absolute;
            top: 0px;
            right:0px;
            padding-top: 16px;
            font-size: $xsmall;
            line-height: $xsmall*1.4;
            font-style: italic;
            width: 72px;
            height: 72px;
            margin: 1.5px;
            background-color: $vanilla;
            border-top: 2px solid white;
            border-left: 2px solid white;
            border-right: 2px solid $black;
            border-bottom: 2px solid $black;
            padding-left: 4px;
            vertical-align: center;
            // border-radius: 3px;
            border-radius: 50%;
            @media #{$mobile} {
                display: block;
            }
        }
    }
}

main {
    width: calc(100% - 80px);
    margin: 0 auto $spacing_lg auto;
    min-height: 70vh; /* window height - footer */
    max-width: 1400px;

    @media #{$tablet} {
        width: calc(100% - 60px);
        margin: 0 auto $spacing_md auto;
        max-width: 100%;
    }
    @media #{$mobile} {
        width: calc(100% - 40px);
        margin: 0 auto $spacing_md auto;
        max-width: 100%;
    }
}

section {
    margin-bottom: $spacing_lg;
    overflow: hidden;
    @media #{$tablet} {
        margin-bottom: $spacing_md;
    }
    @media #{$mobile} {
        margin-bottom: $spacing_md;
    }
}

footer {
    max-height: 30vh;
    min-height: 10vh;
    padding: $spacing_md;
    font-size: $h4;
    line-height: $h4*1.4;
    color: $vanilla;
    background-color: $black;
    @media #{$tablet} {
        font-size: $h5;
        line-height: $h5*1.4;
        height: 217.219px;
    }
    @media #{$mobile} {
        padding: $spacing_sm;
        font-size: $h5;
        line-height: $h5*1.4;
    }
    ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media #{$tablet} {
            display: flex;
            flex-direction: column;
         }
        @media #{$mobile} {
           display: flex;
           flex-direction: column;
        }
        
        a {
            display: inline-block;
            vertical-align: middle;
            padding: 0 12px;
            text-decoration: none;
            &:nth-child(1) { /* apple */
                padding-right: 18px;
            }
        
            // img { /*vc logo*/
            //     width: 280px;
            //     @media #{$tablet} {
            //         width: 200px;
            //     }
            //     @media #{$mobile} {
            //         width: 160px;
            //     }
            // }
        }
        li:first-child { /* (c) column*/
            @media #{$tablet} {
                order: 2;
                margin-bottom: -21px;
            }
            @media #{$mobile} {
                order: 2;
                margin-bottom: -21px;
            }
        }
        li:nth-child(2) { /* icons column */
            text-align: center;
            @media #{$tablet} {
                order: 1;
                width: 100%;
                padding-bottom: 30px;
            }
            @media #{$mobile} {
                order: 1;
                width: 100%;
                padding-bottom: 30px;
            }
        }
        li:nth-child(3) { /* vc logo column*/
            text-align: right;
            @media #{$tablet} {
                order: 3;
            }
            @media #{$mobile} {
                order: 3;
            }
            svg {
                width: 335px; 
                height: 19px; 
                 @media #{$tablet} {
                    transform: scale(0.7);
                    transform-origin: right;
                }
                @media #{$mobile} {
                    transform: scale(0.7);
                    transform-origin: right;
                    width: 200px;
                    height: 23px;
                }
            }
           
            a {
                padding: 0;
            }
        }
        svg {
            transform: scale(0.8);
            path {
                fill: $vanilla;
            }
        }
    }
}

/*mailchimp newsletter*/

#mc_embed_signup { 
    text-align: center;
    form {
        display: flex;
        justify-content: center;
        margin-right: -6rem;
    }
    input[type=email]{
        font-family: $font-primary;
        border: 1px solid $vanilla;
        padding: 8px;
        color: $vanilla;
        width: 330px;
        font-size: 1rem;
        &:focus{
            outline: none;
        }
        margin-bottom: $spacing_md;
    }
    input[type=email]::placeholder {
      color: $vanilla;
      font-size: 1rem;
    }
    #mc-embedded-subscribe{
        color: $vanilla;
        border: 0;
        font-size: 2rem;
        position: relative;
        top: -20px;
    }
}




ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}

table { /* default: cart */ 
    border-spacing: 0px;
    text-align: left;
    @media #{$tablet} {
        font-size: $h4;
        width: 100%;
    }
    @media #{$mobile} {
        font-size: $h4;
        width: 100vw;
    }
    th {
        font-size: $h4;
        font-weight: $semibold;
        padding-bottom: 8px;
        @media #{$tablet} {
            font-size: $h5;
        }
        @media #{$mobile} {
            font-size: $h5;
        }
    }
    tr {vertical-align: top;}
    td {
        padding: 8px $spacing_md 8px 0;
        @media #{$tablet} {
            padding: 8px $spacing_sm 8px 0;
        }
        @media #{$mobile} {
            padding: 8px $spacing_sm 8px 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

button,  
a.action, 
a.option {
    display: inline-block;
    font-family: $font-primary;
    font-size: $h4;
    line-height: $h4*1.4;
    color: $black;
    font-weight: $semibold;
    text-align: center;
    padding: 4px;
    background-color: initial;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;
    cursor: pointer;
    transition: background-color $transition;
    @media #{$tablet} {
        font-size: $h5;
        line-height: $h5*1.4;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }
    @media #{$mobile} {
        font-size: $h5;
        line-height: $h5*1.4;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }

    &:hover {
        color: $vanilla;
        background-color: $black;
    }

    &:disabled,
    &[disabled]{
        cursor: default;
        opacity: .5;
        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
    
}


input {
    background-color: initial;
    border: solid 1px;
    border-radius: 3px;
    padding: 16px;
    display: inline-block;
    @media #{$mobile} {
        padding: 12px;
    }

    &[type="radio"] {
        visibility: hidden;
        height: 0;
        width: 0;
        position: absolute;
    }
    &[type="radio"]:checked + label {
        background-color:$black;
        color: $vanilla;
    }
    &[type=radio]:not(:disabled) ~ label {
        cursor: pointer;
        display: inline-block;
    }
    
}

label {
    font-family: $font-primary;
    font-size: $h4;
    line-height: $h4*1.4;
    border: solid 1px;
    border-radius: 3px;
    padding: 8px 24px;
    margin-right: 8px;
    transition: background-color $transition;
    text-align:center;
    @media #{$tablet} {
        font-size: $h5;
        line-height: $h5*1.4;
        label {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
    @media #{$mobile} {
        font-size: $h5;
        line-height: $h5*1.4;
        label {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    &:hover {
        background-color: $black;
        color: $vanilla;
    }  
    
    &.out-of-stock {
        opacity: .3;
        pointer-events: none;
        cursor:default; 
        
       &:hover {
                background-color: inherit;
                color:inherit;
        }
    }

}

time {
    font-family: $font-secondary;
    font-size: $h5;
    line-height: $h5 * 1.2;
    @media #{$tablet} {
        font-size: $h5 * 0.8;
        line-height: $h5 * 1.4 * 0.8;
    }
    @media #{$mobile} {
        font-size: $h5 * 0.8;
        line-height: $h5 * 1.4 * 0.8;
    }
}

img {
    width: 100%;
}

figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

caption {
    display: block;
    padding-top: 16px;
    font-size: $h5;
    line-height: $h5 * 1.4;
    text-align: left;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Agnostic Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

body.no-scroll { /*when mobile menu is opened */
    height:100%;
    overflow: hidden;
}

header {
    #logo {
        position: fixed;
        top: 50px;
        right: 20px;
        // top: $spacing_md;
        // left: $spacing_md;
        z-index: 10;
        @media #{$tablet} {
            top: 40px;
            right: 4px;
            // top: 30px;
            // left: 30px;
        }
        @media #{$mobile} {
            top: 10px;
            // right: 15px;
            right: 4px;
            display: none;
        }
        svg {
            @media #{$tablet} {
                width: 110px;
            }
            @media #{$mobile} {
                width: 90px;
            }

        }

    }
    a#cart {
        display: inline-block;
        position: fixed;
        top: 4px;
        right: 4px;
        // top: 40+155px;
        // right: $spacing_md;
        background-color: $vanilla;
        font-family: $font-secondary;
        font-size: $xsmall;
        line-height: $xsmall * 1.3;
        border: solid 1px $black;
        border-radius: 3px;
        padding: 6px 8px;
        text-decoration: none;
        z-index: 100;
        transition: background-color $transition;
        @media #{$tablet} {
            // top: 10+155px;
            // left: 30px;
            top: 4px;
            right: 4px;
            padding: 4px 6px;
          
        }
        @media #{$mobile} {
            display: none;
        }

        &:hover {
            background: $black;
            color: $vanilla;
        }
    }
}

section.title {
    text-align: center;
    // max-width: 800px;
    height: $space_heading;
    margin: 30px auto 48px auto;
    @media #{$mobile} {
        height: $space_heading / 2;
        margin: 30px auto 24px auto;
    }
    h1 {
        margin-block-start: 0;
        margin-block-end: 0.4em;
        @media #{$tablet} {
            font-size: $h3;
            line-height: $h3 * 1.3;
        }
        @media #{$mobile} {
            font-size: $h3;
            line-height: $h3 * 1.3;
        }
    }
    h4 {
        margin-block-start: 1em;
    }
    a {
        text-decoration: none;
    }
}

*[itemprop="description"], 
section[itemprop="description"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing_lg;

    @media #{$tablet} { 
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing_md;
    }
    @media #{$mobile} { 
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}

div, section {
    & p:first-child {
        margin-block-start: 0;
    }
}


button, input, a {
    &.action {
        min-width: 200px;
        margin: 0 0 0px 0;
        padding: 8px;
    }
    &.option {
       font-size: $h5;
       line-height: $h5*1.4;
    }
}

a.item { /* item modules */
    display: inline-block;
    text-decoration: none;
    width: calc(33.33% - 24px);
    padding: 16px;
    margin: 16px 12px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;
    transition: background-color $transition;


    &:hover {
        color: $vanilla;
        background-color: $black; 
    }
    /*spacing for 3columns: desktop*/
    &:nth-of-type(3n+1) {
        margin-left: 0;
    }
    &:nth-of-type(3n) {
            margin-right:0;
    }

    @media #{$tablet} {
        margin: 8px 8px;
        width: calc(50% - 12px);
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        &:nth-of-type(3n+1) {
            margin-left: 8px;
        }
        &:nth-of-type(3n) {
            margin-right:8px;
        }
        &:nth-of-type(2n+1) {
            margin-left: 0;
        }
        &:nth-of-type(2n) {
            margin-right: 0;
        }
        
    }
    @media #{$mobile} {
        width: 100%;
        margin: 8px 0;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }

    figure {
        // display: grid;
        // grid-template-columns: 2fr 1fr;
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        min-height: $thumbnail;
        line-height: 1.9rem;
        @media #{$tablet} {
            min-height: $thumbnail_tablet;
            line-height: $h4 * 1.4;
        }
        @media #{$mobile} {
            min-height: $thumbnail_tablet;
            line-height: $h4 * 1.4;
        }
        div.text { 
            display: inline-block;
            width: calc(100% - 132px - 24px);
            @media #{$tablet} {
                width: calc(100% - 79.2px - 24px);
            }
            @media #{$mobile} {
                width: calc(100% - 105.6px - 24px);
            }
        }
        div.thumbnail { 
            display: inline-block;
            width:100%;
            height: $thumbnail;
            width: $thumbnail;
            @media #{$tablet} {
                height: $thumbnail_tablet;
                width: $thumbnail_tablet;
            }
            @media #{$mobile} {
                height: $thumbnail_mobile;
                width: $thumbnail_mobile;
            }
        
            
            position: relative;
            overflow: hidden;
            // padding-top: 100%;
            img {
                object-fit: cover;
                object-position: center;
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                top: 0;
          
                // left: 50%;
                // top: 50%;
                // -webkit-transform: translate(-50%,-50%);
                // -ms-transform: translate(-50%,-50%);
                // transform: translate(-50%,-50%);
            }
        }
 
        h5 { /*date*/
            font-family: $font-secondary;
            margin-block-end: 0;
            margin-block-start: 0.5em;
            @media #{$tablet} {
                font-size: $h5 * 0.8;
                line-height: $h5 * 1.4 * 0.8;
            }
        }
        
    }
    figure.no-image {
        div.text { 
            width: 90%;
        }
    }




   
}

section.pagination {
    width: 100%;
    clear:both;
    border-top: solid 1px;
    padding-top: 8px;
    margin-top: -40px;
    font-size: $h4;
    font-weight: $semibold;
    @media #{$tablet} {
        font-size: $h5;
        margin-top:0;
    }
    @media #{$mobile} {
        font-size: $h5;
        margin-top:0;
    }
    span {
        padding: 0 4px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

a.item.press { /* item modules: press */
    border: none;
    figure {
        grid-template-columns: 1fr;
    }
    &:hover {
        color: inherit;
        background-color: inherit;
    }
}

a.item.product { /* item modules: product */
    figure {
        min-height: 100%;
        div.thumbnail {
            height: auto;
            img { 
                position: relative;
            }
        }
    }

}

section.featured {
    margin-bottom: $spacing_md;
    @media #{$mobile} {
        margin-bottom: $spacing_sm;
    }
    a.item { /*featured news*/
          width: 100%;
          padding: 0;
          margin: 0 0 $spacing_md 0;
          border: none;

          &:hover {
              color: inherit;
              background-color: inherit;
          }
          figure {
              display: grid;
              grid-template-columns: 2fr 1fr;
              column-gap: 48px;
              font-size: $h2;
              line-height: $h2 * 1.1;
              @media #{$tablet} {
                font-size: $h3;
                line-height: $h3 * 1.1;
            }
              @media #{$mobile} {
                display: block;
                font-size: $h3;
                line-height: $h3 * 1.1;
            }
              div.text {
                  width: 100%;
                  order: 2;
              }
              div.thumbnail{ /*thumanail*/
                  height:0;
                  width:100%;
                  max-width:100%;
                  height: 0;
                  padding-top: 56.25%;
                  order: 1;
              }
              h5, time { /*date*/
                font-size: $h4;
                line-height: $h4*1.4;
                margin-block-end: 0;
                margin-block-start: 1em;
                @media #{$tablet} {
                    font-size: $h5;
                    line-height: $h5 * 1.4;
                    margin-block-start: 0.5em;
                    margin-block-end: 1.2em;
                }
                  @media #{$mobile} {
                    font-size: $h5;
                    line-height: $h5 * 1.4;
                    margin-block-start: 0.5em;
                    margin-block-end: 1.2em;
                }
            }
        }
    }
}

section.content { /*news article, cart page */
    max-width: 66.66%;
    margin: 0 auto $spacing_lg auto;
    @media #{$tablet} {
        max-width: 90%;
    }
    @media #{$mobile} {
        max-width: 100%;
    }
    a {
        text-decoration: underline;
        transition: text-decoration $transition;
        &:hover {
            text-decoration: none;
        }
    }
    time {
        font-size: $h4;
        @media #{$tablet} {
            font-size: $h5;
        }
        @media #{$mobile} {
            font-size: $h5;
        }
    }
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Specific Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

.template-index { /* homepage */ 
    background-color: black;
    header nav li a{
        background-color: transparent;
        border-top: 3px solid  $vanilla;
        border-left: 3px solid  $vanilla;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        color: $vanilla;
        &:hover {
            background-color: $vanilla;
            color:$black;
        }
        @media #{$mobile} {
            color: $black;
        }
    }
    main {
        width: 100vw;
        height: 100vh;
        margin: 0;
        font-size: $h4;
        line-height: $h4*1.4;
        font-weight: $semibold;
        @media #{$tablet} {
            font-size: $h5;
            line-height: $h5*1.2;
        }
        @media #{$mobile} {
            font-size: $h5;
            line-height: $h5*1.4;
        }
        ul {
            position: absolute;
            bottom: 30px;
            left: 40px;
            width: calc(100vw - 225px);
            display:flex;
            flex-direction: row;
            @media #{$tablet} {
                display: none;
            }
            @media #{$mobile} {
                display: none;
            }
        }
        a {
            display:block;
            position: relative;
            // position:absolute;
            padding: 1rem 3rem 0rem 0rem;
            // padding: 1rem 0 0 0;
            color: $vanilla; 
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            // &:first-child {
            //     top: 25vh;
            //     left:5vw;
            // }
            // &:nth-child(2){
            //     top: 40vh;
            //     left: 50vw;
            // }
            // &:nth-child(3){
            //     top: 25vh;
            //     left: 75vw;
            // }
            // &:nth-child(4){
            //     top: 75vh;
            //     left: 7vw;
            // }
            // &:nth-child(5){
            //     top: 75vh;
            //     left: 75vw;
            // }
            li {
                text-decoration: none;
                cursor: pointer;
                opacity:1;
                &:hover {
                    text-decoration: underline;
                }
                &.default:hover {
                    text-decoration: underline;
                }
            }
            
        }
        // .video { for non-slide layout
        //     opacity:0;
        //     position: fixed;
        //     top:0;
        //     left:0;
        //     width: 100%;
        //     height: 0;
        //     padding-bottom: 56.25%;
        //     background-color: black;
        //     z-index:-10;
        //     iframe {
        //         position: absolute;
        //         top:  -23vh;
        //         left:  -23vw;
        //         width: 146vw;
        //         height: 146vh;
        //         min-height: 146vh;
        //         min-width: 146vw;
        //     }
        // }
        .slick-dotted.slick-slider { 
            margin-bottom: 0;
            width: 100vw;
            height: 100vh;
        }
        .slick-dots li{
            display:block;
            position: relative;
            // position:absolute;
            padding: 0;
            margin-left: 0;
            color: $vanilla; 
            text-decoration: none;
            width: fit-content;
            height: auto;
            cursor: pointer;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
            @media #{$tablet} {
                display: none;
            }
            @media #{$mobile} {
                display: none;
            }

        }
        
        .video {
            // opacity:0;
            // position: fixed;
            top:0;
            left:0;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            background-color: black;
            z-index: -10;
            iframe {
                position: absolute;
                top:  -23vh;
                left:  -23vw;
                width: 146vw;
                height: 146vh;
                min-height: 146vh;
                min-width: 146vw;
            }
        }
        .show, .default {
            opacity:1;
        }
        div.default {
            z-index:-20;
        }
    }
    #logo svg path{
        fill: $vanilla;
    }
    #cart {
        display: none;
    }
    footer {
        position: fixed;
        bottom:0;
        min-height: 0;
        background-color: transparent;
        ul {
            display: block;
            position: fixed;
            width:auto;
            bottom: $spacing_sm;
            right: $spacing_md;
            @media #{$mobile} {
                bottom: $spacing_md;
                right: $spacing_sm;
            }
            li:first-child  {
                @media #{$tablet} {
                    margin-bottom:0;
                }
            }
            a {
                padding: 0 8px;
                &:nth-child(1) {
                    padding: 0 12px;
                }
            }
            svg {
                transform: scale(0.7);
            }
        }
    }
}

.template-page { /* about page */
    color: $vanilla;
    background-color: $green;


    #logo svg path{
        fill: $vanilla;
    }
    nav {
        ul {
            background-color: $green;
        }
        li a {
            color: $vanilla;
            background-color: $green;
            border-top: 3px solid $green-light;
            border-left: 3px solid $green-light;
            border-right: 3px solid $vanilla;
            border-bottom: 3px solid $vanilla;
            @media #{$tablet} {
                border-top: 2px solid $green-light;
                border-left: 2px solid $green-light;
                border-right: 2px solid $vanilla;
                border-bottom: 2px solid $vanilla;
            } 
            @media #{$mobile} {
                border: none;
            }            
        }
        li a:hover, li.active a {
            color: $green;   
            background-color: $vanilla;
        }
        div {
            background-color: $green;
            border-top: 2px solid $green-light;
            border-left: 2px solid $green-light;
            border-right: 2px solid $vanilla;
            border-bottom: 2px solid $vanilla;
            svg path{
                fill: $vanilla;
            }
        }
    }
    #cart {
        color: $vanilla;
        background-color: $green;
        border: solid 1px $vanilla;
        &:hover {
            color: $green;
            background-color: $vanilla;
        }
    }
    section[itemprop="description"] {
        font-size: $h4;
        line-height: $h4*1.4;
        grid-template-columns: 1fr 2fr;
        column-gap: $spacing_lg;
        
        @media #{$tablet} {
            font-size: $h5;
            line-height: $h5*1.4;
            grid-template-columns: 1fr 1fr;
            column-gap: $spacing_sm;
        }
        @media #{$mobile} {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
    }
}

.template-collection {
    section.title {
        height: $space_heading_sm;
        @media #{$mobile} {
            height: $space_heading_xs;
        }
    }
}

.template-collection.music { /* music list page */
 
    main {
        text-align: center;
        ul {
            max-width: calc(100% - 200px);
            margin: 0 auto;
            @media #{$tablet} {
                max-width: calc(100% - 60px);
            }
            @media #{$mobile} {
                max-width: 100%;
            }
        }
        li {
            font-size: $xlarge;
            line-height: $xlarge;
            padding-bottom: 48px;
            @media #{$tablet} {
                font-size: $h1;
                line-height: $h1 * 1.2;
                padding-bottom: 24px;
            }
            @media #{$mobile} {
                font-size: $h2;
                line-height: $h2 * 1.3;
            }

            a {
                text-decoration: none;
                transition: all $transition;

                img {
                    opacity: 0;
                    width: 300px;
                    position: absolute;
                    transition: opacity $transition;
                    @media #{$tablet} {
                        display:none;
                    }
                    @media #{$mobile} {
                        display:none;
                    }
                }
                &:hover {
                    img {
                        opacity: 1;
                        display: block;
                    }
                }
            }

        }
        // span {
        //     display: inline-block;
        // }
        .colophon {
            // position: absolute;
            // display: contents;
            // padding-left: $spacing_sm;
            display: inline-block;
            width: 0;
            word-break: keep-all;
            white-space: nowrap;
            @media #{$tablet} {
               width: auto; /*center-aligned for when it is in a seprate line*/
            }
            @media #{$mobile} {
               width: auto; /*center-aligned for when it is in a seprate line*/
            }
        }
    }    
}

.template-collection.merch {



    section.product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: $spacing_lg;
        text-align: center;

        @media #{$tablet} {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: $spacing_md;
        }
        
        @media #{$mobile} {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
        li {
            margin-bottom: $spacing_md;
        }
        a {
            text-decoration: none;
        }
        h4, h5 {
            margin-block-start: 0.325em;
            margin-block-end: 0.325em;
        }
    }

}
.template-product { 

    .subdescription, .tracklist, .credit, .video-credit {
        font-size: $h4;
        line-height: $h4*1.4;
        @media #{$tablet} {
            font-size: $h5;
            line-height: $h5 * 1.4;
        }
    }
    .subdescription {
        font-style: italic;
    }
    .tracklist, #product-variants {
        border: solid 1px;
        padding: 8px 24px;

        @media #{$tablet} {
            font-size: $h5;
            line-height: $h5 * 1.4;
            padding: 8px 16px;
        }
        
        @media #{$mobile} {
            font-size: $h5;
            line-height: $h5 * 1.4;
            padding: 8px 16px;
        }

        li {
            display: flex;
            align-items: center;
            padding: 4px 0;
            &::before {
                font-family: $font-secondary;
            }
        }
    }
    #product-variants {
        font-size: $h4;
        line-height: $h4*1.4;
        padding: 8px 12px 8px 24px;

    }

    #product-variants {  /*initially from merch */
        border: none;
        padding: 0;
        margin: $spacing_md 0; 
        @media #{$mobile} {
            margin: $spacing_sm 0; 
    
        }
        div {
            display: inline-block;
            width: fit-content;
        }
       
    }

}

.template-product.music { /* music detail */
    section.title {
        @media #{$mobile} {
            margin-top: 100px;   
            height: auto;     
        }
        h4 {
            @media #{$mobile} {
                padding: 0 10%; 
            }
        }
        .platforms a{ /* platform links */
            padding: 0 12px;
            &:nth-child(2) { /* apple */
                padding-right: 18px;
            }
        }
    }
    .platforms a{ /* platform links */
        text-decoration: none;
    }
    #music .platforms a{
        padding: 0 8px;
    }
    #product-add {
        margin-bottom: $spacing_md;
    }
    .hero { 
        text-align: center; 
        img {
            max-width: 860px;
            @media #{$tablet} {
                max-width: 600px;
            }
        }
    }
    .tracklist {
        margin-top: $spacing_md;
        padding-right: 0;

        .track-header{
            display: grid;
            grid-template-columns: 11fr 2fr 2fr;
            div:nth-child(2){
               text-align: center;
            }
            margin-top: 12px;
        }
        ul {
            li {
                
                list-style-type: decimal-leading-zero;  
                // display: flex;
                // flex-direction: row;
                padding: 0;
                align-items: baseline;
                display: grid;
                grid-template-columns: 1fr 10fr 2fr 2fr 2fr;
                &:last-child {
                    padding-bottom: 12px;
                }
                .track-cell {
                    margin-right: 16px;
                    @media #{$tablet} {
                        margin-right: 8px;
                    }
                    @media #{$mobile} {
                        margin-right: 8px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }

                div.track-play {
                    margin-right: 32px;
                    @media #{$tablet} {
                        margin-right: 8px;
                    }
                    @media #{$mobile} {
                        margin-right: 10px;
                    }

                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    position: relative;
                    top: 12px;
                    svg{
                        position: absolute;
                        left: 15px;
                        top: 12px;
                    }

                    .play-button{
                        position: absolute;
                        width: 36px;
                        height: 36px;
                        padding-top: 12px;
                        border-top: 3px solid white;
                        border-left: 3px solid white;
                        border-right: 3px solid  $black;
                        border-bottom: 3px solid $black;
                        border-radius: 50%;
                        transition: background-color $transition;
                        animation: play-anim 5s linear infinite;
                        animation-play-state: paused;
                        @media #{$tablet} {
                            border-top: 2px solid white;
                            border-left: 2px solid white;
                            border-right: 2px solid  $black;
                            border-bottom: 2px solid $black;
                        }
                        @media #{$mobile} {
                            border-top: 2px solid white;
                            border-left: 2px solid white;
                            border-right: 2px solid  $black;
                            border-bottom: 2px solid $black;
                        }

                    }
                    
                    @media #{$tablet} {
                        width: 30px;
                        height: 30px;
                    }
                    @media #{$mobile} {
                        width: 30px;
                        height: 30px;
                    }
                    &:hover {
                        cursor: pointer;
                        .play-button{
                            background-color:$black;
                        }

                        svg .fill {
                            fill: $vanilla;
                        }
                    }
                    .pause_icon{
                      display: none;
                    }  
                    &.playing{
                        .pause_icon{
                            display: inline;
                        }
                        .play_icon{
                            display: none;
                        }
                        .play_button{
                            animation-play-state: running;
                        }
                    }
                }
            }

        }
    }

    //lyrics popups
    .track-lyrics{
        
        .lyrics-button{
            font-size: 33px;
            &:hover{
                color: $vanilla;
                cursor: pointer;
            }
        }
        .lyrics-popup {
            display: none;
            z-index: 100;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top:0;
            left: 0;
            align-items: center;
            justify-content: center;
        }

        .lyrics-box{
            position: fixed;
            width: 500px;
            height: 500px;
            border: 1px solid black;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        .lyrics-header{
            background-color: $black;
            position: absolute;
            top: 0;
            width: 100%;
            height: 40px;
            padding: 8px 24px;
        }
        .lyrics-close-button{
            position: absolute;
            right: 0px;
            top: 3px;
            &:hover{
                cursor: pointer;
            }
        }
        .lyrics-body{
            margin-top: 40px;
            height: calc(500px - 40px);
            width: 100%;
            overflow-y: scroll;
            padding: 8px 24px;
            padding-bottom: 40px;
            font-size: .8em;
            line-height: 1.4;
        }

    }
    .track-lyrics[data-popup=open] .lyrics-popup{
        display: flex;
    }

    .credit {
        display: grid;  
        grid-template-columns: 1fr 2fr;
        margin-bottom: $spacing_md;
        @media #{$tablet} {
            margin-top: 0;
            font-size: $h5;
            line-height: $h5 * 1.4;
        }
        @media #{$mobile} {
            margin-top: $spacing_md;
            font-size: $h5;
            line-height: $h5 * 1.4;
            grid-template-columns: 1fr 1fr;
        }
        .name {
            text-transform: capitalize;
        }
        .role {
            text-transform: lowercase;
            font-style: italic;
        }
    }
    .video { /* music post > video section */
        clear:both;
    }
    .video-container {  
        position: relative; 
        padding-bottom: 56.25%; /* 16:9 */
        height: 0; 
        overflow: hidden; 
        max-width: 100%;
        margin-bottom: $spacing_md;
        & iframe { 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
        }
    }
    .video-credit {
        display: grid;  
        grid-template-columns: 1fr 4fr;

        @media #{$tablet} {
            font-size: $h5;
            line-height: $h5 * 1.4;
            grid-template-columns: 1fr 8fr;
        }
        @media #{$mobile} {
            font-size: $h5;
            line-height: $h5 * 1.4;
            grid-template-columns: 1fr;
            margin-bottom: $spacing_sm;
        }
        div:nth-child(2) {
            column-count: 2;
            @media #{$mobile} {
                column-count: 1;
            }
        }
        .credit {
            @media #{$mobile} {
                margin-top: $spacing_sm;
                margin-bottom: 0;
            }
            div {
                padding-right: 8px;
            }
        }
    }
    // #product-variants { /*previous layout for variants */
    //     opacity: 1;
    //     transition: opacity $transition;
    //     width: 80%;
    //     ul {
    //         display: flex;
    //         flex-direction: row;
    //         li {
    //             width: 40%;
    //             &:nth-child(2) { /*price */
    //                 width: 20%;
    //             }
    //             &:nth-child(3) { /*btn */
    //                 display: flex;
    //                 flex-direction: row-reverse;
    //                button {
    //                    min-width: 128px;
    //                }
    //             }
    //         }
    //     }
    // }
}

.lockscroll{
    overflow: hidden;
}
@keyframes play-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.template-product.merch { /* merch detail */
   
    // .merch-slides {
    //         overflow: hidden;
    // }
    .product-info { /* merch post*/
        width: 80%; 
        @media #{$tablet} {
            width: 100%; 
        }
        @media #{$mobile} {
            width: 100%; 
        }
        h1 { /*title*/
            margin-block-start: 0;
            @media #{$tablet} {
                font-size: $h3;
                line-height: $h3 * 1.4;
            }
            @media #{$mobile} {
                font-size: $h3;
                line-height: $h3 * 1.4;
            }
        }
        h3 { /*description*/
            @media #{$tablet} {
                font-size: $h4;
                line-height: $h4 * 1.4;
            }
            @media #{$mobile} {
                font-size: $h4;
                line-height: $h4 * 1.4;
            }
            ul { 
                font-family: $font-secondary;
                font-size: $h4;
                line-height: $h4*1.4;
                @media #{$tablet} {
                    font-size: $h5;
                    line-height: $h5 * 1.4;
                }
                @media #{$mobile} {
                    font-size: $h5;
                    line-height: $h5 * 1.4;
                }
                li::before {
                    content: '— ';
                }
                li {
                    padding-bottom: 4px;
                    text-indent: -1.5rem;
                    padding-left: 1.5rem;
                    @media #{$tablet} {
                        text-indent: -1.1rem;
                        padding-left: 1.1rem;
                    }
                    @media #{$mobile} {
                        text-indent: -1.1rem;
                        padding-left: 1.1rem;
                    }
                }
            }

        }
    }
}

// .template-blog {


// }

.template-article { /* news post */
    section.title {
        height: $space_heading_sm;
        @media #{$mobile} {
            height: $space_heading_xs;
        }
    }
    main {
        h2.article-title{
            margin-block-end: 0.26em;
        }
        h1:not(.title h1) {
            font-size: $h2 * 0.85;
            line-height: $h2 * 0.85 * 1.2;
        }
    }
}



#your-shopping-cart {
    section.cart-table {
        margin: 0 auto;
        max-width: 66.66%;
        min-width: 900px;
        @media #{$tablet} {
            width: 100%;
            max-width: 100%;
            min-width: auto;
        }
        @media #{$mobile} {
            width: 100%;
            max-width: 100%;
            min-width: auto;
        }
      
        input {
            font-family: $font-primary;
            width: 100px;
            font-size: $h4;
            text-align: right;
            @media #{$mobile} {
                width: 60px;
            }

        }
        
        button.update {
            font-size:inherit;
            border:none;
            padding: 0;
            display: inline-block;
        }


        h5 {
            th & {
                font-weight: $semibold;
            }
            
            input.update { 
                display: inline;
                background-color: transparent;
                font-size: inherit;
                font-weight: inherit;
                padding: 4px 0;
                text-align: left;
                border: none;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                   
                }
            }
        }
    }
    .subtotal, .checkout {
        text-align: right;
        padding: $spacing_sm 0;
    }
    .subtotal {
        border-top: 1px solid;
        padding: $spacing_md 0;
        span {
            font-size: $h4;
            display: inline-block;
            padding-right: 24px;
            font-weight: $semibold;
            @media #{$tablet} {
                font-size: $h5;
            }
            @media #{$mobile} {
                font-size: $h5;
            }
        }
       
    }
    textarea[name="note"] {
        width: 100%;
        background-color: inherit;
    }
    

}






/* Slider css from Slick.js */


.slider {
    margin: 0;
}

$slide_width: 580px;


.slick-slide {
  width: $slide_width;
  height: $slide_width/3 * 4;
  margin: 0px 20px;
    @media #{$tablet} {
        width: 50vw;
        height: 64.33vw;
    }
    @media #{$mobile} {
        width: 100vw;
        height: 133.33vw;
    }
}

.slick-slide img {
  min-width: 100%;
  min-height: 100%;
  height: $slide_width/3 * 4;
  object-fit: cover; /* cover image */
  object-position: center;
    @media #{$tablet} {
        width: 50vw;
        height: 64.33vw;
    }
    @media #{$mobile} {
        width: 100vw;
        height: 133.33vw;
    }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}



.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    // height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    &[aria-hidden="true"] {
        display:none;
    }
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}


.slick-arrow.slick-hidden {
    display: none;
}


/*slick-theme*/


/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    // width: 20px;
    // height: 20px;
    width: 0;
    height:0;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    // content: '←';
}
[dir='rtl'] .slick-prev:before
{
    // content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    // content: '→';
}
[dir='rtl'] .slick-next:before
{
    // content: '←';
}

/* Dots */
.slick-dotted.slick-slider { /*merch*/
    margin-bottom: 80px;
    width: 45vw;
    @media #{$mobile} {
        width: 100vw;
    }
}


.slick-dots
{
    position: absolute;
    // bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    list-style: none;

    // text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin: 0 8px;
    padding: 0;

    cursor: pointer;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;

    @media #{$tablet} {
        width: 24px;
        height: 24px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }

    @media #{$mobile} {
        width: 24px;
        height: 24px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }

    &:first-child {
        margin-left: 0;
    }
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    // font-family: 'slick';
    // font-size: 6px;
    // line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    // opacity: .75;
    // color: black;
}






