
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Basic type
# Element Defaults
  ## Nav
  ## Structure
  ## Elements
# Page Agnostic Overrides
	## Nav
  ## Structure
  ## Archive
  ## Article
  ## Elements
# Page Specific Overrides
  ## Nav
  ## Structure
  ## Pages 
  ## Articles
  ## Mailchimp
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// @import "mixins";

$vanilla: #FFEBC6;
$black: #200304;
$green: #2A3F3B;
$green-light: #6F7E7C;

$font-primary: 'Fraunces', serif;
$font-secondary: 'Arial', sans-serif;

$h1: 50px;
$h2: 42px;
$h3: 30px;
$h4: 18px;
$h5: 14px;
$body: 26px;
$xxsmall: 12px;
$xxlarge: 76px;

$bold: 800;
$semibold: 600;


/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Basic Type
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $black;
    font-size: $body;
    font-weight: normal;
    background-color: $vanilla;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
}


h1 { /*page title*/
    font-size: $h1;
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-size: $h2;
    font-weight: normal;
}

h3 {
    font-size: $h3;
    font-weight: normal;
}

h4 {
    font-size: $h4;
    font-weight: normal;
}

h5 {
    font-size: $h5;
    font-weight: normal;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.san-serif {
    font-family: $font-secondary;
    font-size: $h5;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Element Defaults
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/
header {
    nav {
        position:fixed;
        display: inline-block;
        top: 20px;
        right: 20px;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: -2.5px;
        }
        li {
            list-style-type: none;
            a {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 75px;
                height: 75px;
                margin: 2.5px;
                font-size: $h4;
                font-weight: $semibold;
                color: inherit;
                text-decoration: none;
                background-color: $vanilla;
                border-top: 3px solid white;
                border-left: 3px solid white;
                border-right: 3px solid $black;
                border-bottom: 3px solid $black;
                text-align: center;
                vertical-align: center;
                border-radius: 3px;
                &.active, &:hover { 
                    background-color: $black;
                    color: $vanilla;
                }
            }

            &:first-child { /*home button*/
                display: none;
            }
            // &:nth-child(odd){
            //     margin-right: 5px;
            // }
            // &:nth-child(1), &:nth-child(2) {
            //     margin-bottom: 5px;
            // }

        }
    }
}
main {
    width: calc(100% - 80px);
    margin: 0 auto 80px auto;
    min-height: 90vh;
}
footer {
    min-height: 10vh;
    padding: 40px;
    font-size: $h4;
    color: $vanilla;
    background-color: $black;
}

button, input {
    font-family: $font-primary;
    font-size: $h4;
    color: $black;
    font-weight: $semibold;
    text-align: center;
    padding: 12px;
    margin: 56px 0;
    background-color: initial;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;
}

figure { /* item modules */
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 30%;
    padding: 16px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;

    img {
        max-width: 132px;
        margin-left: 16px;
    }
    &:hover {
        color: $vanilla;
        background-color: $black; 
    }
}

time {
    font-family: $font-secondary;
    font-size: $h5;
}
/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Agnostic Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/

header {
    #logo {
        position: fixed;
        top: 40px;
        left: 40px;
    }
    a#cart {
        display: inline-block;
        position: fixed;
        top: 30+155px;
        right: 20px;
        background-color: $vanilla;
        font-size: $xxsmall;
        border: solid 1px $black;
        border-radius: 3px;
        padding: 6px 8px;
        text-decoration: none;
        &:hover {
            background: $black;
            color: $vanilla;
        }
    }
}

div[itemprop="description"] {
    text-align: left;
    padding-top: 72px;
    & p:first-child {
        margin-block-start: 0;
    }
}

.col-2 {
    width: 50%;
    padding: 10px;
    display: inline-block;
    float:left;
}

section.title {
    text-align: center;
    // max-width: 800px;
    margin: 30px auto 48px auto;
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

button, input {
    &.action {
        min-width: 200px;
    }

    &.option {

    }
}



/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Page Specific Overrides
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  
*/


.template-product {
    form {
        text-align: center; /*for hero img alignment*/
    }
    .subdescription, .tracklist, .credit {
        font-size: $h4;
    }
    .subdescription {
        font-style: italic;
    }
}

#product-variants {
    border: solid 1px;
    padding: 16px 24px;
    font-size: $h4;
    width: 80%;

    ul {
        display: flex;
        flex-direction: row;
        li {
            list-style-type: none;
            &:first-child {
                width: 40%;
            }
            &:nth-child(2) {
                width: 20%;
            }
        }
    }
}
.template-article {
    main {
        max-width: 66.66%;
        margin: 0 auto;
        h1 {
            font-size: $h2 * 0.85;
        }
        time {
            font-size: $h4;
        }
    }
}
.template-index{
    background-color: black;
    #logo svg path{
        fill: $vanilla;
    }
    #cart {
        display: none;
    }
}
#about {
    color: $vanilla;
    background-color: $green;
    #logo svg path{
        fill: $vanilla;
    }
    nav {
        li a {
            color: $vanilla;
            background-color: $green;
            border-top: 3px solid $green-light;
            border-left: 3px solid $green-light;
            border-right: 3px solid $vanilla;
            border-bottom: 3px solid $vanilla;
            &:hover {
                color: $green;   
                background-color: $vanilla;
            }
        }
    }
    #cart {
        color: $vanilla;
        background-color: $green;
        border: solid 1px $vanilla;
    }
}
.video-container {  /*responsive video*/
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    & iframe, 
    & object, 
    & embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}

