
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
	
	font-family: 'Arial',sans-serif;
	font-size: 20px;
	--color: rgb(244 64 52);
	--secondcolor: rgb(21 88 80);
	--bgcolor: rgb(247 243 229);
	--buttoncolor: #c7c5b9;
	background-color: rgba(247, 243, 229, 0.5);
	background-image: url('img/grain.jpg');
	background-repeat: repeat;
	background-blend-mode: multiply;
	background-size: 400px;
}
main{
	/*background-color: var(--bgcolor);*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	padding: 20px;
}
.menu{
	background: var(--secondcolor);
	background-image: url('img/texture-test.jpg');
	background-blend-mode: multiply;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 740px;
	padding: 10px 20px 30px 10px;
}
.menu-item{
	margin: 20px;
}
button{
	display: block;
	outline: none;
	border: 1px solid white;
	background: var(--buttoncolor);
	width: 300px;
	height: 300px;
	font-size: 20px;
	text-transform: uppercase;
	/*font-family: Arial, sans-serif*/
	/*color: transparent;*/
	/*font-family: Arial, sans-serif;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;*/
	border-radius: 0px;
	box-shadow: 10px 10px 0px 5px var(--color);
}
.button-label{
	display: none;
	color: var(--bgcolor);
	text-transform: uppercase;
	font-size: 20px;
}
button:hover{
	position: relative;
	top: 5px;
	left: 5px;
	cursor: pointer;
	color: black;
	-webkit-text-stroke-color: transparent;
	box-shadow: 5px 5px 0px 2px var(--color);
}
#player{
	width: 800px;
	height: 90vh;
}
#player iframe{
	height: 100%;	
	width: 100%;
}

.window{
	border: 3px solid black;
	width: 500px;
	height: 500px;
	overflow-y: auto;
	position: fixed;
	background: var(--bgcolor);
	resize: both;
}

.release-info{
	display: flex;
	justify-content: space-between;
}
/*#releases .title, #releases .buy-link{
	display: inline-block;
}
*/
.item{
	margin-bottom: 20px;
}

#merchandise{
	width: 1000px;
}

#merchandise .scroll{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 18px;
	column-gap: 20px;
	row-gap: 30px;
}

.product-info{
	display: flex;
	justify-content: space-between;
}

.window[data-open=false]{
	display: none;
}
.menubar{
	position: sticky;
	top: 0;
	left: 0;
	background: black;
	height: 30px;
	color: var(--bgcolor);
	border-bottom: 3px solid black;
}
.menu-title{
	font-size: 1.3rem;
	line-height: 1.3;
	text-transform: uppercase;
}
.close{
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 20;
    background: var(--bgcolor);
    color: black;
    width: 25px;
    height: 23px;
    text-align: center;
    line-height: .7;
    font-size: 28px;
}

.close:hover{
	background: var(--buttoncolor);
}

.menu2{
	/*background-image: url('img/texture-test.jpg');*/
	background: transparent;
	padding: 20px;
	margin-left: 20px;
	margin-top: 45vh;
}
.tracks{
	background: var(--buttoncolor);
	mix-blend-mode: multiply;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-bottom: 20px;
}

.board{
	display: flex;
}
.track{
	margin: 20px;
}
.track-label{
	color: var(--secondcolor);
	font-size: 14px;
	width: 150px;
}
.track-button{
	cursor: pointer;
	background: var(--bgcolor);
	height: 50px;
	width: 150px;
	box-shadow: 5px 5px 0px 2px var(--secondcolor);
}
.track-button:hover{
	position: relative;
	top: 3px;
	left: 3px;
	box-shadow: 2px 2px 0px 1px var(--secondcolor);
}

#record{
	position: fixed;
	right: 20px;
	top: 20px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 70px solid var(--color);
	z-index: 100;
	animation: turn linear 2s forwards infinite;
}

.label{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
}

img{
	width: 100%;
}
.feature-img{
	position: relative;
	background: url('IMG_0606.jpeg') fixed no-repeat;
	background-size: cover;
	height: 100vh;
}

.info{
	top: 1rem;
	left: 1rem;
	color: white;
	width: 33em;
}

h1,p{
	font-weight: normal;
	font-size: 40px;
}

.image{
	width: 
	height: 200px;
	background: var(--color);
}

.buy-link{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}


footer{
	display: flex;
	padding-top: 1rem;
	justify-content: space-between;
}

.newsletter input{
	border: 3px solid var(--color);
	font-size: 18px;
	padding: 5px;
	width: 710px;
	height: 50px;
	background: background: var(--bgcolor);
}


.social{
	padding: 20px;
}
.social svg{
	background: var(--secondcolor);
	height: 50px;
	width: 150px;
	fill: var(--bgcolor);
	box-shadow: 5px 5px 0px 2px var(--color);
	margin-right: 20px;
}
.social svg:hover{
	position: relative;
	top: 2px;
	left: 2px;
	box-shadow: 3px 3px 0px 2px var(--color);
}


.vinylcrown{
	width: 300px;
}

/*#balloon{
	position: absolute;
	bottom: 30px;
	right: 20px;
	width: 50px;
	mix-blend-mode: multiply;
	animation: float 3s ease-in-out forwards;
}

*/

.top{
	z-index: 1000;
}

@keyframes float{
	0%{
		transform: rotate(2deg) translateY(0);
	}
	100%{
		transform: rotate(0deg) translateY(-800px);
	}
}

@keyframes turn{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
}