<footer> 
    <div>(newsletter signup form)</div>
    <ul>
        <li>&copy; {{ "now" | date: "%Y" }} Saint Cassius</li>
        <li>
            <a href="https://music.apple.com/us/artist/saint-cassius/1355024389" target="_blank">{% comment %} Apple music {% endcomment %}
                <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.49768 18.3106V8.09556C6.49768 7.7125 6.71069 7.4784 7.1367 7.39328L15.9551 5.60565C16.4238 5.52053 16.6794 5.73334 16.722 6.24409V14.033C16.722 14.6715 15.7634 15.0971 13.8464 15.3099C10.204 15.8845 10.7791 22.0135 15.7634 20.3536C17.6805 19.6513 18 17.7998 18 15.9484V1.00889C18 1.00889 18 -0.267987 16.9137 0.0512327L6.05037 2.28577C6.05037 2.28577 5.21965 2.41346 5.21965 3.43496V16.3953C5.21965 17.0337 4.26112 17.4593 2.34407 17.6721C-1.29833 18.2467 -0.723215 24.3758 4.26112 22.7158C6.17817 22.0135 6.49768 20.1621 6.49768 18.3106Z" />
                </svg>   
            </a>  
            <a href="https://open.spotify.com/artist/4seAtbSnUp7Yc2i7xyZngY" target="_blank">{% comment %}spotify{% endcomment %}
                <svg width="25" height="25" viewBox="0 -1 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0773 0C5.40697 0 0 5.40697 0 12.0773C0 18.7477 5.40697 24.1547 12.0773 24.1547C18.7477 24.1547 24.1547 18.7477 24.1547 12.0773C24.1561 5.40697 18.7477 0 12.0773 0ZM17.617 17.4209C17.4007 17.7771 16.9363 17.8881 16.5815 17.6718C13.7446 15.9382 10.175 15.5474 5.97089 16.5079C5.56562 16.6002 5.16179 16.3464 5.06948 15.9426C4.97718 15.5373 5.22957 15.1335 5.63629 15.0412C10.237 13.9898 14.183 14.4426 17.3675 16.3868C17.7223 16.6017 17.8333 17.0661 17.617 17.4209ZM19.0953 14.1311C18.8227 14.5739 18.2429 14.7138 17.8002 14.4412C14.5551 12.4466 9.60534 11.8682 5.76465 13.0335C5.26707 13.1835 4.74065 12.9037 4.58922 12.4062C4.43922 11.9086 4.72046 11.3836 5.21659 11.2322C9.6039 9.901 15.057 10.5457 18.7838 12.8374C19.228 13.11 19.3664 13.6898 19.0953 14.1311ZM19.2222 10.7072C15.3296 8.3953 8.90729 8.18329 5.19063 9.31112C4.59354 9.49284 3.96328 9.15536 3.78156 8.55827C3.60128 7.96118 3.93732 7.33092 4.53441 7.1492C8.80057 5.85406 15.8935 6.10501 20.3746 8.76451C20.9111 9.08325 21.087 9.77696 20.7697 10.312C20.451 10.8486 19.7573 11.0259 19.2222 10.7072Z" />
                </svg>
            </a> 
            <a href="https://tidal.com/browse/artist/8908498" target="_blank">{% comment %} Tidal {% endcomment %}
                <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.68701 14.7852L14.1837 9.86914L18.6805 14.7852L14.1837 19.7012L9.68701 14.7852Z" />
                    <path d="M9.69238 4.93652L14.1891 0.0206304L18.6859 4.93652L14.1891 9.85242L9.69238 4.93652Z" />
                    <path d="M18.6899 4.92773L23.1868 0.0118405L27.6837 4.92773L23.1868 9.84363L18.6899 4.92773Z" />
                    <path d="M0.67041 4.91602L5.16718 -5.95433e-07L9.66394 4.91601L5.16718 9.83203L0.67041 4.91602Z" />
                </svg>
            </a> 
            <a href="https://www.instagram.com/saintcassius_/" target="_blank">{% comment %} IG {% endcomment %}
                <svg width="24" height="24" viewBox="0 -1 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.9681 6.7712C22.9141 5.54747 22.7162 4.70617 22.4328 3.97717C22.1403 3.20335 21.6904 2.51055 21.101 1.93463C20.525 1.34974 19.8277 0.895258 19.0628 0.607384C18.3296 0.323903 17.4927 0.126011 16.2689 0.0720565C15.0361 0.0135326 14.6447 0 11.5178 0C8.39089 0 7.9995 0.0135326 6.7712 0.0674871C5.54747 0.121442 4.70617 0.319509 3.97734 0.602814C3.20335 0.895258 2.51055 1.34517 1.93463 1.93463C1.34974 2.51055 0.895434 3.20792 0.607383 3.97277C0.323903 4.70617 0.126011 5.5429 0.0720565 6.76663C0.0135326 7.9995 0 8.39089 0 11.5178C0 14.6447 0.0135326 15.0361 0.0674871 16.2644C0.121442 17.4881 0.319509 18.3294 0.60299 19.0584C0.895434 19.8322 1.34974 20.525 1.93463 21.101C2.51055 21.6858 3.20792 22.1403 3.97277 22.4282C4.70617 22.7117 5.5429 22.9096 6.76681 22.9635C7.99493 23.0177 8.3865 23.031 11.5134 23.031C14.6403 23.031 15.0317 23.0177 16.26 22.9635C17.4837 22.9096 18.325 22.7117 19.0538 22.4282C20.6017 21.8298 21.8254 20.606 22.4238 19.0584C22.7071 18.325 22.9052 17.4881 22.9591 16.2644C23.0131 15.0361 23.0266 14.6447 23.0266 11.5178C23.0266 8.39089 23.022 7.9995 22.9681 6.7712ZM20.8941 16.1744C20.8445 17.2992 20.6556 17.9066 20.4981 18.3115C20.1111 19.3148 19.3148 20.1111 18.3115 20.4981C17.9066 20.6556 17.2948 20.8445 16.1744 20.8939C14.9596 20.9481 14.5953 20.9614 11.5224 20.9614C8.44941 20.9614 8.08052 20.9481 6.87015 20.8939C5.74536 20.8445 5.13798 20.6556 4.73306 20.4981C4.23376 20.3136 3.77928 20.0212 3.41038 19.6387C3.02795 19.2653 2.73551 18.8154 2.55098 18.3161C2.39351 17.9111 2.20458 17.2992 2.15519 16.179C2.10106 14.9642 2.08771 14.5997 2.08771 11.5268C2.08771 8.45381 2.10106 8.08492 2.15519 6.87472C2.20458 5.74993 2.39351 5.14255 2.55098 4.73763C2.73551 4.23815 3.02795 3.78384 3.41495 3.41477C3.78824 3.03235 4.23815 2.7399 4.73763 2.55555C5.14255 2.39808 5.7545 2.20915 6.87472 2.15959C8.08948 2.10563 8.45398 2.0921 11.5268 2.0921C14.6043 2.0921 14.9686 2.10563 16.179 2.15959C17.3038 2.20915 17.9111 2.39808 18.3161 2.55555C18.8154 2.7399 19.2698 3.03235 19.6387 3.41477C20.0212 3.78824 20.3136 4.23815 20.4981 4.73763C20.6556 5.14255 20.8445 5.75433 20.8941 6.87472C20.9481 8.08948 20.9616 8.45381 20.9616 11.5268C20.9616 14.5997 20.9481 14.9596 20.8941 16.1744Z" />
                    <path d="M11.5179 5.60156C8.25166 5.60156 5.60156 8.25148 5.60156 11.5179C5.60156 14.7844 8.25166 17.4343 11.5179 17.4343C14.7844 17.4343 17.4343 14.7844 17.4343 11.5179C17.4343 8.25148 14.7844 5.60156 11.5179 5.60156ZM11.5179 15.3557C9.39894 15.3557 7.68013 13.6371 7.68013 11.5179C7.68013 9.39876 9.39894 7.68013 11.5179 7.68013C13.6371 7.68013 15.3557 9.39876 15.3557 11.5179C15.3557 13.6371 13.6371 15.3557 11.5179 15.3557Z" />
                    <path d="M19.0497 5.36753C19.0497 6.13027 18.4312 6.74873 17.6683 6.74873C16.9056 6.74873 16.2871 6.13027 16.2871 5.36753C16.2871 4.60461 16.9056 3.98633 17.6683 3.98633C18.4312 3.98633 19.0497 4.60461 19.0497 5.36753Z" />
                </svg>
                </a>
            <a href="https://www.youtube.com/channel/UCuipI5nfBRhL-1Zt_Xa5p5w" target="_blank">{% comment %} Youtube {% endcomment %}
                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8583 0.532102C23.947 0.825477 24.8055 1.68834 25.096 2.78419C25.6252 4.77166 25.6252 8.9163 25.6252 8.9163C25.6252 8.9163 25.6252 13.0609 25.096 15.0484C24.8055 16.1443 23.947 17.0071 22.8583 17.3005C20.8852 17.8326 12.9698 17.8326 12.9698 17.8326C12.9698 17.8326 5.05447 17.8326 3.08138 17.3005C1.99273 17.0071 1.13418 16.1443 0.843679 15.0484C0.314453 13.0609 0.314453 8.9163 0.314453 8.9163C0.314453 8.9163 0.314453 4.77166 0.843679 2.78419C1.13418 1.68834 1.99273 0.825477 3.08138 0.532102C5.05447 0 12.9698 0 12.9698 0C12.9698 0 20.8852 0 22.8583 0.532102ZM16.9966 8.9163L10.3812 12.6798V5.15276L16.9966 8.9163Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.vinylcrown.com/" target="_blank">
                <img src="{{ 'vc_logo.png' | asset_img_url: 'master' }}">
            </a>
        </li>
    </ul>
</footer>
