<section class="see-more">
  {% assign thisproduct = product.title %}

    {% if product.tags.size > 0 %}

        {% for tag in product.tags %}
            {% assign tag_coll = '/collections/all/' | append: tag %}

          {% for product in collections.music.products %}
            {% if product.tags contains tag %}
              {% if product.title <> thisproduct %} {%comment%} except one in the current page {%endcomment%}
                {% include 'product-item' %}
              {% endif %}
            {% endif %}
          {% endfor %}

            {% for product in collections.merch.products %}
              {% if product.tags contains tag %}
                {% if product.title <> thisproduct %} {%comment%} except one in the current page {%endcomment%}
                  {% include 'product-item' %}
                {% endif %}
              {% endif %}
            {% endfor %}

            {% for article in blogs.news.articles %}
              {% if article.tags contains tag %}

                    {% if article.content contains "https://"  %}  
                        {% if article.content contains "href"  %}
                          {% include 'article-news-item' %} 
                        {% else %}
                          {% include 'article-press-item' %} 
                        {% endif %}
                      {% else %}
                        {% include 'article-news-item' %} 
                    {% endif %}

              {% endif %}
            {% endfor %}
     

        {% endfor %}
        
              {%comment%}
              {% if product.tags.size > 0 %}
              <div class="product-single__tags">
                <p>
                  Tags:
                  {% for tag in product.tags %}
                    {% assign tag_coll = '/collections/all/' | append: tag %}
                    {{ tag | capitalize | link_to: tag_coll }}{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                </p>
              </div>
            {% endif %}
            {% endcomment%}
  {% endif %}
  

    </section>


 